/* Author: Ilya Skurikhin
 * 
 * This is the main stylesheet for skurikhin.ch
 */

/* The global box */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* the html body */

body {
  margin: auto;
  background-color: #222;
  color: #FFF;
  width: 100%;
  font-family: "Helvetica", "Sans-Serif";
}

.main {
  width: 70%;
  margin: auto;
  position: relative;
  padding-bottom: 6rem;
  max-width: 650px;
}

nav ul, footer ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: underline;
  color: #FFF;
}

a:visited {
  color: #BBB;
}

nav a, footer a {
  text-decoration: none;
  color: #FFF;
}

nav a:hover, footer a:hover {
  text-decoration: underline;
  color: #FFF;
}

nav a:visited, footer a:visited {
  color: #FFF;
}

nav a.current {
  background: #FFF;
  color: #000;
}

h1 {
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
  font-size: 1em;
  line-height: 1em;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border: none;
  background-color: #444;
  font-size: 0.8em;
  text-align: center;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}


